* { margin: 0; padding: 0; }
body {
    margin: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

input[type='text'] {
    height: 22px;
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ddd;
}
button {
    height: auto;
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
    background: #D5D9DE;
    border: 1px solid #D5D9DE;
    cursor: pointer;
}

button:hover {
    background: #e2e7ed;
    border: 1px solid #e2e7ed;
}